<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Office hours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides>
    <ion-slide>
      <img src="http://www.icu-usa.com/images/icuWaitingRoom.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-theme">We are available on</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-grid>
        <ion-row> <ion-col size="4"><strong>MON</strong></ion-col> <ion-col size="8" class="ion-text-right">10:00 - 19:00</ion-col> </ion-row>
        <ion-row> <ion-col size="4"><strong>TUE</strong></ion-col> <ion-col size="8" class="ion-text-right">10:00 - 19:00</ion-col> </ion-row>
        <ion-row> <ion-col size="4"><strong>WED</strong></ion-col> <ion-col size="8" class="ion-text-right">10:00 - 19:00</ion-col> </ion-row>
        <ion-row> <ion-col size="4"><strong>THU</strong></ion-col> <ion-col size="8" class="ion-text-right">10:00 - 19:00</ion-col> </ion-row>
        <ion-row> <ion-col size="4"><strong>FRI</strong></ion-col> <ion-col size="8" class="ion-text-right">10:00 - 19:00</ion-col> </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>
