<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides>
    <ion-slide>
      <img src="https://resources.mynewsdesk.com/image/upload/t_next_gen_article_large_767/yaknsbmwjo6nx584pofk.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-grid class="card-grid">
    <ion-row>
      <ion-col size="6">
        <ion-card mode="ios" class="ion-no-margin">
          <ion-card-content>
            <span class="text-theme"><strong>Call us</strong></span> <br>
            521234567890
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card mode="ios" class="ion-no-margin">
          <ion-card-content>
            <span class="text-theme"><strong>Mail us</strong></span> <br>
            contact@email.com
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title class="text-theme">Send message</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    <ion-list class="line-input">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input class="ion-text-right"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input class="ion-text-right"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input class="ion-text-right"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Message</ion-label>
        <ion-input class="ion-text-right"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button mode="ios" expand="block" color="tertiary">
      Click me
    </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
