<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Select service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid class="card-grid">
    <ion-row>
      <ion-col size="6" tappable
        *ngFor="let service of services"
        [ngClass]="{'active': service == serviceActive}"
        (click)="checkService(service)"
      >
        <ion-card mode="ios" class="ion-no-margin">
          <ion-card-content>
            <div class="ion-text-center">{{ service }}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br><br>
  <ion-button mode="ios" color="tertiary" expand="block" (click)="confirmAppointment()">
    Confirm appointment
  </ion-button>

</ion-content>
