<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Brand
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <img src="https://img.huffingtonpost.com/asset/5cd50c142500005500a10019.jpeg?ops=scalefit_630_noupscale" alt="">
    </ion-slide>
  </ion-slides>

  <div class="ion-padding">

    <ion-button mode="ios" color="tertiary" expand="block" (click)="navigateBookAppointment()">
      Book an appointment
    </ion-button>

    <ion-grid class="card-grid">
      <ion-row>

        <ion-col size="6" tappable (click)="redirect('services')">
          <ion-card mode="ios" class="ion-no-margin">
            <ion-card-content class="ion-text-center">
              <img src="https://image.flaticon.com/icons/svg/1773/1773178.svg">
              <p>Services</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" tappable (click)="redirect('office-hours')">
          <ion-card mode="ios" class="ion-no-margin">
            <ion-card-content class="ion-text-center">
              <img src="https://image.flaticon.com/icons/svg/1247/1247840.svg">
              <p>Office hours</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>

      <ion-row>
      
        <ion-col size="6" tappable (click)="redirect('testimonials')">
          <ion-card mode="ios" class="ion-no-margin">
            <ion-card-content class="ion-text-center">
              <img src="https://image.flaticon.com/icons/svg/1443/1443446.svg">
              <p>Testimonials</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      
        <ion-col size="6" tappable (click)="redirect('contact')">
          <ion-card mode="ios" class="ion-no-margin">
            <ion-card-content class="ion-text-center">
              <img src="https://image.flaticon.com/icons/svg/1976/1976311.svg">
              <p>Contact us</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
